<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Variational Autoencoder</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
    $("img").on("click", function(event) {
        var x = event.pageX - this.offsetLeft;
        var y = event.pageY - this.offsetTop;
        window.location.replace("{{ url_for('index') }}" +  "?x=" + String(x) + "&y=" + String(y));
        });
    });
    </script>

    <img src="static/imgs/VAE_map.png" alt="VAE" ismap>
    <br/>
    {% if vae_img != 'None' %}
    <img src="data:image/png;base64,{{ vae_img }}" height="80" width="80">
    {% endif %}

</body>
</html>